<h1 class="mt-4">Home</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Bem vindo!</li>
</ol>
<div class="container">
    <div class="row">
        <div>
            <h1>Bem-vindo ao Simulado de Matemática!</h1>
            <p>Este é o seu portal de aprendizado interativo, projetado para ajudá-lo a testar seus conhecimentos e
                aprimorar suas habilidades matemáticas de forma prática e dinâmica.</p>
            <h2>Como funciona?</h2>
            <ol>
                <li>Escolha um dos temas disponíveis para iniciar o simulado.</li>
                <li>O teste contém entre <strong>10 e 25 questões</strong> de múltipla escolha, dependendo do tema
                    selecionado.</li>
                <li>Cada pergunta possui <strong>apenas uma alternativa correta</strong>, então pense bem antes de
                    responder!</li>
            </ol>
        </div>
        
        <div>

            <h2>Desafie-se e melhore seu desempenho!</h2>
            <p>Este é o ambiente perfeito para testar seus conhecimentos, aprender com seus erros e se preparar para
                desafios matemáticos futuros.</p>

            <p><strong>Escolha um tema e comece agora!</strong> 🚀</p>
        </div>
    </div>

</div>